.toggle-container {
  display: flex;
  align-items: center;
}

label {
  width: 40px;
  height: 18px;
  position: relative;
  display: block;
  background: #ebebeb;
  border: 2px solid #555;
  border-radius: 15px;
  cursor: pointer;
}

label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 15px;
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 25px;
  transform: translateX(-20%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label,
label:after {
  transition: 0.3s;
}

label:active:after {
  width: 25px;
  background-color: #242424;
}
